<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLTV2.Properties.Settings.SQLQLTVConnectionString"
            connectionString="Data Source=DESKTOP-HL44R45;Initial Catalog=SQLQLTV;User ID=Chou;Password=111111;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="SQLQLTVConnectionString" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-HL44R45;user id=;password=;initial catalog=SQLQLTV;Persist Security Info=true;TrustServerCertificate=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>